.investorInstitutionWrap {
  .itemTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
  }
  .itemIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
