.logo_wrap {
  width: 150px;
  height: 30px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  cursor: pointer;
  > img {
    width: 26px;
    height: 26px;
    margin-right: 16px;
  }
}
