.nai_home_cove {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nai_home_desc_wrap {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nai_home_cove_img {
  position: absolute;
  width: 1200px;
  object-fit: contain;
  z-index: -2;
}
.nai_home_cove_img_mask {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.nai_home_cove_text {
  font-size: 36px;
  width: 1200px;
  margin-bottom: 30px;
}

.nai_home_cove_text_1 {
  font-size: 45px;
  font-weight: bold;
}

.nai_home_qr_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nai_home_qr_img {
  width: 320px;
  height: 445px;
  margin: 0 30px;
}
