.home_banner_wrap {
  padding: 0 40px;
}

.app_container_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  .app_container {
    max-width: 1300px;
    padding: 50px 0;
  }
}
.app.mobile {
  .app_container {
    width: 100vw;
  }
}

.home_cover_bg_wrap {
  font-family: Camphor, sans-serif;
  padding-top: 80px;
  margin-bottom: 30px;
  > h1 {
    font-size: 90px;
    text-align: center;
    font-weight: 700;
    // margin-bottom: 20px;
  }
  > h2 {
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    -webkit-text-fill-color: #0000;
    -webkit-background-clip: text;
    background-image: linear-gradient(
      90deg,
      rgb(21, 45, 131),
      rgb(84, 100, 155)
    );
  }
  > p {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
  }
  .home_row_btn_wrap {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    .home_row_btn {
      width: 210px;
      height: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(21, 45, 131);
      border: 2px solid rgb(21, 45, 131);
      border-radius: 0;
      color: #fff;
      font-family: Lato, sans-serif;
      font-size: 15px;
      cursor: pointer;
    }
  }
}
.app.mobile {
  .home_cover_bg_wrap {
    > h1 {
      font-size: 60px;
    }
    > h2 {
      font-size: 60px;
    }
    > p {
      font-size: 20px;
    }
  }
}

.public_cloud_item {
  padding: 30px;
  text-align: center;
  .public_cloud_item_icon {
    width: 68px;
    height: 68px;
    margin: auto;
    margin-bottom: 20px;
  }
  .public_cloud_item_title {
    color: #150727;
    font-family: Camphor, sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
  }
  .public_cloud_item_desc {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 180%;
  }
  .public_cloud_item_btn {
    color: rgb(21, 45, 131);
    font-size: 17px;
    font-weight: 400;
  }
}
